<ion-view class="checkout-view" cache-view="false">
    <ion-header-bar class="checkout-header">
        <div class="buttons">
            <button class="button button-clear cancel-button" ng-click="cancel()">取消</button>

        </div>
        <h1 class="title">结算</h1>
    </ion-header-bar>

    <ion-content has-bouncing="false" class="checkout-content">
        <div class="row order-brief-row">
            <div class="col col-67">
                <div class="row illustration-row">
                    <div class="col illustration-col"><img class="order-brief-illustration"
                                                           ng-src="./img/checkout/checkout_illustration.png"/>
                    </div>

                    <div class="col"><span class="order-brief-callout">{{shoppingCart.shoppingCartItems.length}}件商品准备中！</span>
                    </div>

                </div>

            </div>

            <div class="col col-33 col-center order-total-col">
                <div class="order-total-wrapper"><span class="brief-total-title">小计:</span> <span
                        class="brief-total">{{ shoppingCart.shoppingCart.displaySubTotal | currency: 'RMB ' }}</span>
                </div>

            </div>

        </div>

        <div class="row address-row">
            <div class="col">
                <div class="address-chooser"><a
                        class="button button-block icon-right ion-chevron-right choose-addresses-button"
                        ng-class="{'aa': addresses_popover.isShown(), 'bb' : !addresses_popover.isShown()}"
                        ui-sref="main.app.checkout.address()">{{ getSelectedAddress || 'Shipping Address'}}</a>
                </div>
                <input type="hidden" ng-model="order.shipping_contact_mech_id" name="shipping_contact_mech_id"/>
                <input type="hidden" ng-model="order.shipToCustomerPartyId" name="shipToCustomerPartyId"/>
            </div>

        </div>
        <div class="row promo-code-row">
            <div class="col"><label class="item item-input promo-item"> <span class="input-label">促销代码</span>
                <input type="text"> </label>
            </div>

        </div>
        <div class="card list filter-group alt-filter-group">
            <div class="item item-divider"> 送货方式</div>

            <ion-list class="show-filters filter-options-container" ng-repeat="shipment in carries">
                <ion-radio name="shipping_method" ng-model="order.shipping_method" ng-click="calculateAmount(shipment.estimate);" ng-value="shipment.shipmentMethodTypeId+'@'+shipment.partyId" >
                     {{shipment.description}}:&nbsp;-&nbsp;{{shipment.estimate | currency :
                    '￥'}}</ion-radio>
            </ion-list>

        </div>


        <div class="card list filter-group alt-filter-group">
            <div class="item item-divider"> 支付方式</div>

            <ion-list class="show-filters filter-options-container" ng-repeat="payment in payments"
                      ng-show="payment.paymentMethodTypeId==='EXT_ALIPAY' || payment.paymentMethodTypeId==='EXT_COD'">
                <ion-radio name="checkOutPaymentId" ng-model="order.checkOutPaymentId" ng-value="payment.paymentMethodTypeId" >
                    {{ (paymentNames | filter: {id:payment.paymentMethodTypeId})[0].name }}</ion-radio>
            </ion-list>

        </div>
        <!--<h3 class="checkout-sub-title">支付方式</h3>

        <div class="row card-row">
            <div class="col">
                <div class="address-chooser"><a
                        class="button button-block icon-right ion-chevron-right choose-card-button"
                        ng-class="{'aa': addresses_popover.isShown(), 'bb' : !addresses_popover.isShown()}"
                        ui-sref="main.app.checkout.card()">{{getSelectedCard() || 'Credit Card'}}</a>
                </div>

            </div>

        </div>-->
        <h3 class="checkout-sub-title">我的订单</h3>
        <ul class="list checkout-products">
            <li class="item checkout-product" ng-repeat="cartItem in shoppingCart.shoppingCartItems">
                <div class="row">
                    <div class="col col-20 product-image-col">
                        <div class="product-image-container" multi-bg="[serverUrl + cartItem.mediumImageUrl]"></div>

                    </div>

                    <div class="col col-50 col-center"><span class="product-name">{{cartItem.description}}</span></div>

                    <div class="col col-center"><span class="product-price">{{cartItem.itemSubTotal|currency: 'RMB '}}</span></div>

                </div>

            </li>

        </ul>

        <ul class="list checkout-bill">
            <li class="item">
                <div class="row">
                    <div class="col"><span class="bill-item-title">费用</span></div>

                    <div class="col"><span class="bill-item-value">{{ shoppingCart.shoppingCart.displaySubTotal | currency: 'RMB '}}</span></div>

                </div>

            </li>

            <li class="item">
                <div class="row">
                    <div class="col"><span class="bill-item-title">销售税</span></div>

                    <div class="col"><span class="bill-item-value">{{ shoppingCart.shoppingCart.orderTaxTotal | currency: 'RMB ' }}</span></div>

                </div>

            </li>

            <li class="item">
                <div class="row">
                    <div class="col"><span class="bill-item-title">快递费</span></div>

                    <div class="col"><span class="bill-item-value">{{ shoppingCart.shoppingCart.orderShippingTotal | currency: 'RMB ' }}</span></div>

                </div>

            </li>

            <li class="item bill-total">
                <div class="row">
                    <div class="col"><span class="bill-item-title">小计</span></div>

                    <div class="col"><span class="bill-item-value">{{ shoppingCart.shoppingCart.displayGrandTotal | currency: 'RMB '}}</span></div>

                </div>

            </li>

        </ul>

    </ion-content>

    <ion-footer-bar class="checkout-footer"><a class="button button-full place-order-button" ng-click="processOrder(order)" > 点击结算 </a>
    </ion-footer-bar>

</ion-view>