<div class="address-details-container">
    <div ng-show="error" class="row">
        <div class="has-errors">{{error}}</div>
    </div>
    <div class="row">
        <label class="col col-50 item item-input item-stacked-label"> <span
                class="input-label">姓名</span> <input class="input-data" type="text" ng-model="address.paAttnName"
                                                     placeholder="必填"> </label>

    </div>
    <div class="row">
        <label class="col col-50 item item-input item-stacked-label"> <span class="input-label">省&州</span>
            <!--<input class="input-data" type="text" ng-model="address.paStateProvinceGeoId" placeholder="AK">-->
            <div class="card-chooser" ng-click="openProvincePopover($event)">
                <button class="button button-block icon-right cards-popover-button"
                        ng-class="{'ion-chevron-up': province_popover.isShown(), 'ion-chevron-down' : !province_popover.isShown()}">
                    <!--{{ address.paStateProvinceGeoId || '选择'}}-->
                    <p ng-repeat="u in chnGeoList  | filter: address.paStateProvinceGeoId " ng-if="address.paStateProvinceGeoId">{{ u.name || '选择'}}</p>
                </button>
            </div>
        </label>

        <label class="col col-50 item item-input item-stacked-label"> <span class="input-label">城市</span>
            <!--<input class="input-data" type="text" ng-model="address.paCity" placeholder="Houston">-->
            <div class="card-chooser" ng-click="openCityPopover($event)">
                <button class="button button-block icon-right cards-popover-button"
                        ng-class="{'ion-chevron-up': city_popover.isShown(), 'ion-chevron-down' : !city_popover.isShown()}">
                    <!--{{ address.paCity|| '选择'}}-->
                    <p ng-repeat="u in cityGeoList  | filter: address.paCity " ng-if="address.paCity">{{ u.name || '选择'}}</p>
                </button>
            </div>
        </label>


    </div>
    <div class="row">
        <label class="col col-50 item item-input item-stacked-label"> <span class="input-label">区县</span>
            <!--<input class="input-data" type="text" ng-model="address.paCity" placeholder="Houston">-->
            <div class="card-chooser" ng-click="openCountyPopover($event)">
                <button class="button button-block icon-right cards-popover-button"
                        ng-class="{'ion-chevron-up': county_popover.isShown(), 'ion-chevron-down' : !county_popover.isShown()}">
                    <!--{{ address.paCity|| '选择'}}-->
                    <p ng-repeat="u in countyGeoList  | filter: address.paCountyGeoId " ng-if="address.paCountyGeoId">{{ u.name || '选择'}}</p>
                </button>
            </div>
        </label>

        <label
                class="col col-50 item item-input item-stacked-label"> <span class="input-label">邮政编码</span> <input
                class="input-data" type="text" ng-model="address.paPostalCode" placeholder="必填"> </label>
    </div>
    <div class="row">
        <label class="col  item item-input item-stacked-label"> <span class="input-label">地址行</span>
            <input class="input-data" type="text" ng-model="address.paAddress1" placeholder="Street">
        </label>
        <!--<label
            class="col col-50 item item-input item-stacked-label"> <span class="input-label">Apt/Suite</span> <input
            class="input-data" type="text" ng-model="address.apt_suite" placeholder="Optional"> </label>-->
    </div>


    <div class="row"><label class="col item item-input item-stacked-label"> <span class="input-label">手机</span>
        <input class="input-data" type="text" ng-model="address.paMobilePhone" placeholder="+123 55 66 77"> </label>
    </div>

</div>