<ion-view class="account-orders-view account-sub-view" cache-view="false" view-title="My Orders">
    <ion-content>
        <div class="orders-row">
            <div class="card order-item" ng-repeat="order in orders.payOrders">
                <div class="item item-divider order-header"><span class="header-title">{{order.orderId}} - {{order.orderDate | amDateFormat:'YYYY/MM/DD'}}</span>
                </div>
                <div class="item item-text-wrap order-content">
                    <div class="row order-product" ng-repeat="item in order.orderItems track by $index">
                        <div class="col col-20 product-image-col">
                            <div class="product-image-container" multi-bg="[serverUrl+item.mediumImageUrl]"></div>
                        </div>
                        <div class="col col-center name-col"><span class="product-name">{{item.description}}</span></div>
                        <div class="col col-center"><span class="product-price">{{item.totalAmount|currency:"￥"}}</span></div>
                    </div>
                </div>
                <div class="item item-divider order-footer shipped" ><span class="status-title">待支付</span>
                </div>
            </div>
            <div class="card order-item" ng-repeat="order in orders.shipOrders">
                <div class="item item-divider order-header"><span class="header-title">{{order.orderId}} - {{order.orderDate | amDateFormat:'YYYY/MM/DD'}}</span>
                </div>
                <div class="item item-text-wrap order-content">
                    <div class="row order-product" ng-repeat="item in order.orderItems track by $index">
                        <div class="col col-20 product-image-col">
                            <div class="product-image-container" multi-bg="[serverUrl+item.mediumImageUrl]"></div>
                        </div>
                        <div class="col col-center name-col"><span class="product-name">{{item.description}}</span></div>
                        <div class="col col-center"><span class="product-price">{{item.totalAmount|currency:"￥"}}</span></div>
                    </div>
                </div>
                <div class="item item-divider order-footer shipped" ><span class="status-title">待收货</span>
                </div>
            </div>
            <div class="card order-item" ng-repeat="order in orders.reviewOrders">
                <div class="item item-divider order-header"><span class="header-title">{{order.orderId}} - {{order.orderDate | amDateFormat:'YYYY/MM/DD'}}</span>
                </div>
                <div class="item item-text-wrap order-content">
                    <div class="row order-product" ng-repeat="item in order.orderItems track by $index">
                        <div class="col col-20 product-image-col">
                            <div class="product-image-container" multi-bg="[serverUrl+item.mediumImageUrl]"></div>
                        </div>
                        <div class="col col-center name-col"><span class="product-name">{{item.description}}</span></div>
                        <div class="col col-center"><span class="product-price">{{item.totalAmount|currency:"￥"}}</span></div>
                    </div>
                </div>
                <div class="item item-divider order-footer delivered" ><span class="status-title">待评价</span>
                </div>
            </div>
            <div class="card order-item" ng-repeat="order in orders.cancelOrders">
                <div class="item item-divider order-header"><span class="header-title">{{order.orderId}} - {{order.orderDate | amDateFormat:'YYYY/MM/DD'}}</span>
                </div>
                <div class="item item-text-wrap order-content">
                    <div class="row order-product" ng-repeat="item in order.orderItems track by $index">
                        <div class="col col-20 product-image-col">
                            <div class="product-image-container" multi-bg="[serverUrl+item.mediumImageUrl]"></div>
                        </div>
                        <div class="col col-center name-col"><span class="product-name">{{item.description}}</span></div>
                        <div class="col col-center"><span class="product-price">{{item.totalAmount|currency:"￥"}}</span></div>
                    </div>
                </div>
                <div class="item item-divider order-footer canceled"><span class="status-title">订单取消</span>
                </div>
            </div>
            <div class="card order-item" ng-repeat="order in orders.finishOrders">
                <div class="item item-divider order-header"><span class="header-title">{{order.orderId}} - {{order.orderDate | amDateFormat:'YYYY/MM/DD'}}</span>
                </div>
                <div class="item item-text-wrap order-content">
                    <div class="row order-product" ng-repeat="item in order.orderItems track by $index">
                        <div class="col col-20 product-image-col">
                            <div class="product-image-container" multi-bg="[serverUrl+item.mediumImageUrl]"></div>
                        </div>
                        <div class="col col-center name-col"><span class="product-name">{{item.description}}</span></div>
                        <div class="col col-center"><span class="product-price">{{item.totalAmount|currency:"￥"}}</span></div>
                    </div>
                </div>
                <div class="item item-divider order-footer" class="finished"><span class="status-title">订单完成</span>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>