<div class="row images-row">
    <div class="col">
        <div class="illustration-container">
            <pre-img ratio="_21_13" helper-class="square-image"> <img class="illustration-image"
                                                                      ng-src="./img/walkthrough/learn_illustration.png"
                                                                      spinner-on-load/>
            </pre-img>

        </div>

    </div>

</div>
<div class="row copy-row">
    <div class="col"> <h1 class="welcome-title">欢迎您!</h1> <p class="welcome-paragraph">gbcui O2O App !</p>
    </div>

</div>